<div class="container" style="margin: 20px auto">
  <div class="row">
    <div class="col-4">
      <h1>About Me</h1>
    </div>
    <div class="col-8">
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut tenetur
        molestias recusandae ad. Ad molestias dolores impedit consectetur
        perspiciatis, alias eos iure minus ipsum corporis excepturi incidunt
        necessitatibus! Sunt, totam!
      </div>
      <button class="btn btn-dark m-5">
        <a
          [href]="fileUrl"
          download="CV.pdf"
          style="text-decoration: none; color: white"
          >Download Resume</a
        >
      </button>
    </div>
  </div>
</div>
