<section class="bg-dark text-white py-5">
  <div class="container">
    <h2 class="text-center">Skills</h2>
    <p class="lead text-center mt-3">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo cupiditate
      vero architecto optio impedit nam qui provident? Odio tempore cumque
      ducimus placeat consequatur nobis expedita, voluptatem, fuga deserunt,
      exercitationem laborum!
    </p>
    <div class="row mt-5">
      <div class="col-md-4">
        <h4>My Focus</h4>
        <ul class="list-unstyled">
          <li>php</li>
          <li>backend</li>
          <li>Web Development</li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 90%"
          >
            HTML
          </div>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 80%"
          >
            CSS
          </div>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 75%"
          >
            JavaScript
          </div>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 85%"
          >
            Angular
          </div>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 70%"
          >
            php
          </div>
        </div>
        <div class="progress mb-3">
          <div
            class="progress-bar bg-info"
            role="progressbar"
            style="width: 65%"
          >
            laravel
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
